/* Test CSS file for turbougly */

body  div.class #item  {
  font-size: large;
  font-family: "Helvetica Neue", sans-serif;
  color: #204a87;
  background-color: #333333;
  line-height: 0.6em;
  box-shadow: 0 0 5px black;
}

strong :after {
  color: rgb(202, 0, 0);
}

#foobar {
  /* This is useless */
}

::selection {
  background: aliceblue;
}
